# Ethereum Mainnet
# 主网部署者私钥，用于部署合约和签名交易
MAINNET_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
# 主网签名者私钥，用于签署交易
MAINNET_SIGNER_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
# Alchemy API Key，用于连接以太坊主网节点
MAINNET_ALCHEMY_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Sepolia Testnet(Alchemy)
SEPOLIA_ALCHEMY_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SEPOLIA_ALCHEMY_PK_ONE = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SEPOLIA_ALCHEMY_PK_TWO = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"


# Sepolia Testnet(infura)
SEPOLIA_INFURA_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SEPOLIA_INFURA_PK_ONE="0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SEPOLIA_INFURA_PK_TWO="0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"