# Ethereum Mainnet
# 主网部署者私钥，用于部署合约和签名交易
MAINNET_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
# 主网签名者私钥，用于签署交易
MAINNET_SIGNER_PK = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
# Alchemy API Key，用于连接以太坊主网节点
MAINNET_ALCHEMY_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Sepolia Testnet
# Alchemy API Key，用于连接Sepolia测试网节点
SEPOLIA_ALCHEMY_AK = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
# Sepolia测试网账户1的私钥，用于测试部署和交易
SEPOLIA_PK_ONE = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" 
# Sepolia测试网账户2的私钥，用于测试交易
SEPOLIA_PK_TWO = "0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
